<configuration>

  <jmxConfigurator/>
  
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{0}] [%method] - %msg%n</pattern>
    </encoder>
  </appender>
   

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>